* {
    box-sizing: border-box;
}
label {
    cursor: pointer;
}

/*start*/

.wrap {
    max-width: 1980px;
    margin: 0 auto;
    background: url("../img/header/all-bg.png") repeat-x;
}
.header, .main {
    width: 1000px;
    margin: 0 auto;
}
.header {
    text-align: center;
    line-height: 39px;
    position: relative;
    padding: 0 0 19px 12px;
    background: url("../img/header/header-bg.png") no-repeat center;
}
h1.penti-logo a {
    font-size: 0;
    background: url("../img/header/penti-logo.png") no-repeat bottom right;
    padding: 26px 87.5px 27px 81.5px;
    display: inline-block;
}
button.smartphone-login {
    display: none;
}
ul.header-list::after, ul.main-tab-list::after, ul.main-list::after, ul.suggest-list::after, ul.suggest-sns-list::after, ul.client-tab-list::after, ul.footer-list::after, dl.purchase-dl::after {
    content: "";
    display: block;
    clear: both;
}
ul.header-list {
    position: absolute;
    top: 2px;
    right: -3px;
}
ul.header-list li {
    float: left;
}
ul.header-list li:not(:first-child) a {
    padding-left: 10px;
}
ul.header-list li:not(:last-child) a {
    padding-right: 10px;
}
ul.header-list li a {
    font-size: 11px;
    color: #484848;
}
ul.header-list li a:hover, ul.header-list li a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #8009ef;
}
.menu {
    display: none;
}
button.hamburger {
    display: none;
    font-size: 0;
    border: none;
}

/*main start*/

.main {
    background: #f1f1f1;
    padding-bottom: 101px;
    position: relative;
}
.main-tab-list-position {
    text-align: center;
    line-height: 0;
    padding-top: 11px;
    background: url("../img/header/header-border.png") no-repeat center top;
}
ul.main-tab-list, .rn-position, .notice h2, ul.suggest-list, ul.suggest-sns-list, .purchase-contents, .review-notice-box {
    display: inline-block;
}
ul.main-tab-list li {
    float: left;
    background: url("../img/main/main-tab-list-bg.png") no-repeat center;
    line-height: 39px;
    width: 104px;
}
ul.main-tab-list li a {
    font: 16px YDIYGO160-KSCpc-EUC-H, sans-serif;
    color: #3e3e3e;
    font-weight: bold;
    padding: 8.5px 15.49px;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    position: relative;
}
ul.main-tab-list li:not(:last-child) {
    margin-right: 3px;
}
ul.main-tab-list li:first-child a {
    padding: 8.5px 35px;
}
ul.main-tab-list li:nth-child(2) a, ul.main-tab-list li:nth-child(3) a {
    padding: 8.5px 27px;
}
ul.main-tab-list li:last-child a {
    padding: 8.5px 7.49px;
}
ul.main-tab-list li a:hover, ul.main-tab-list li.active a {
    color: #ffffff;
    background: #8009ef;
    border: 1px solid #8009ef;
    border-bottom: none;
}
span.speech-bubble {
    background: url("../img/main/speech-bubble-all.png") no-repeat;
    line-height: 32px;
    display: inline-block;
    padding: 0 11.07px 7px;
    line-height: 25px;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: -20px;
    right: 28px;
}
/*
span.speech-bubble {
    background: url("../img/main/speech-bubble.png") repeat-x;
    line-height: 32px;
    display: inline-block;
}
span.speech-bubble-left {
    background: url("../img/main/speech-bubble-left.png") no-repeat left;
    display: inline-block;
}
span.speech-bubble-right {
    background: url("../img/main/speech-bubble-right.png") no-repeat right;
    display: inline-block;
}
*/
ul.main-tab-list li:nth-child(4) span.speech-bubble, ul.main-tab-list li:last-child span.speech-bubble {
    padding: 0 14.55px 7px;
}
.main-list-box {
    border-top: 6px solid #8009ef;
    background: #272524;
    padding-left: 5px;
}
ul.main-list li {
    float: left;
    width: 20%;
}
ul.main-list li:not(:first-child) {
    border-left: 1px solid #000000;
}
ul.main-list li:not(:last-child) {
    border-right: 1px solid #585858;
}
dl.main-dl {
    padding: 20px 0 27px 4px;
    height: 292px;
}
dl.main-dl dt a {
    background: url("../img/main/dt-gapeong.png") no-repeat;
    font-size: 0;
    padding-top: 16px;
    display: block;
}
ul.main-list li:nth-child(2) dl.main-dl dt a {
    background: url("../img/main/nami-island.png") no-repeat;
}
ul.main-list li:nth-child(3) dl.main-dl dt a {
    background: url("../img/main/cheongpyeong.png") no-repeat;
}
ul.main-list li:nth-child(4) dl.main-dl dt a {
    background: url("../img/main/yangpyeong.png") no-repeat;
}
ul.main-list li:last-child dl.main-dl dt a {
    background: url("../img/main/other.png") no-repeat;
}
dl.main-dl dd {
    position: relative;
}
dl.main-dl dd a {
    line-height: 20px;
    font-size: 11px;
    color: #ffffff;
    letter-spacing: 0.9px;
    display: inline-block;
}
dl.main-dl dd:nth-child(2) {
    margin-top: 9px;
}
dl.main-dl dd a:hover, dl.main-dl dd a.active {
    /*border-bottom: 1px solid #ffffff;
    padding: 0 4px 0 5px;*/
    text-decoration: underline;
}
span.new, span.renewal {
    background: url("../img/main/red-n.png") no-repeat;
    font-size: 0;
    padding: 5.5px;
    vertical-align: middle;
}
span.renewal {
    background: url("../img/main/blue-r.png") no-repeat;
}
.rn-position > span.new,
ul.main-list li:nth-child(3) dl.main-dl dd:nth-child(4) span.renewal {
    margin-left: -3px;
}
ul.main-list li:first-child dl.main-dl dd:nth-child(4) .rn-position,
ul.main-list li dl.main-dl dd:nth-child(10) span.renewal,
ul.main-list li:first-child dl.main-dl dd:last-child .rn-position,
ul.main-list li:nth-child(2) dl.main-dl dd:nth-child(4) span.renewal,
ul.main-list li:nth-child(2) dl.main-dl dd:nth-child(8) .rn-position,
ul.main-list li:nth-child(4) dl.main-dl dd:nth-child(4) .rn-position,
ul.main-list li:nth-child(4) dl.main-dl dd:last-child .rn-position,
ul.main-list li:last-child dl.main-dl dd:nth-child(4) .rn-position,
ul.main-list li:last-child dl.main-dl dd:nth-child(5) span.new,
ul.main-list li:last-child dl.main-dl dd:last-child .rn-position {
    margin-left: -1px;
}
ul.main-list li:first-child dl.main-dl dd:nth-child(8) .rn-position {
    margin-left: 3px;
}
dl.main-dl dd a:focus, dl.main-dl dd a.focus {
    background: #8009ef;
    font-weight: bold;
}
ul.main-list li:nth-child(2) dl.main-dl dd:nth-child(6) span.renewal,
ul.main-list li:nth-child(2) dl.main-dl dd:nth-child(7) span.new,
ul.main-list li:nth-child(3) dl.main-dl dd:nth-child(6) span.renewal,
ul.main-list li:nth-child(4) dl.main-dl dd:nth-child(3) span.renewal,
ul.main-list li:last-child dl.main-dl dd:nth-child(6) span.renewal {
    margin-left: -2px;
}
ul.main-list li:last-child dl.main-dl dd:nth-child(2) span.renewal {
    margin-left: 1px;
}
.notice {
    line-height: 44px;
    background: #f1f1f1;
}
.notice-box, .suggest {
    width: 40%;
    padding-left: 16px;
    display: inline-block;
}
h3.notice-h3 {
    display: inline-block;
}
h3.notice-h3 a {
    font-size: 0;
    background: url("../img/main/main-list-under-notice.png") no-repeat;
    padding: 7px 26px;
}
a.notice-text {
    font-size: 11px;
    color: #484848;
    vertical-align: bottom;
}
.suggest {
    width: 60%;
    margin-left: -6px;
    padding-left: 1px;
    vertical-align: middle;
}
h3.suggest-h3 {
    font-size: 0;
    background: url("../img/main/suggest-friend.png") no-repeat;
    padding: 0 53.5px;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}
ul.suggest-list li, ul.suggest-sns-list li {
    float: left;
}
ul.suggest-list {
    line-height: 12px;
    vertical-align: middle;
    margin-left: 7px;
}
ul.suggest-sns-list li:not(:first-child) {
    margin-left: 8px;
}
ul.suggest-list li:not(:last-child) {
    background: url("../img/main/suggest-list-bar.png") no-repeat right center;
}
ul.suggest-list > li:first-child {
    padding-right: 21px;
}
ul.suggest-list > li:nth-child(2) {
    padding: 0 17px 0 16px;
}
ul.suggest-list > li:nth-child(3) {
    padding: 0 14px 0 10px;
}
ul.suggest-list > li:nth-child(4) {
    padding: 0 18px 0 20px;
}
ul.suggest-list > li:last-child {
    padding-left: 14px;
}
ul.suggest-list > li > a {
    font-size: 0;
    background: url("../img/main/suggest-list-2.png") no-repeat;
    padding: 7px 31.5px;
    vertical-align: middle;
}
ul.suggest-list > li:nth-child(3) > a {
    background: url("../img/main/suggest-list-3.png") no-repeat;
    padding: 7px 23.5px;
}
ul.suggest-list > li:nth-child(4) > a,
ul.suggest-list > li:last-child > a {
    background: url("../img/main/suggest-list-4.png") no-repeat;
    padding: 7px 25.5px;
}
ul.suggest-list > li:last-child > a {
    background: url("../img/main/suggest-list-5.png") no-repeat;
}
.lowest-price-box {
    padding-left: 2px;
}
.lowest-price {
    border: 1px solid #d4d4d4;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #b2b2b2;
    box-shadow: 0 4px 1px 1px #e3e3e3;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 19px 0 17px;
    width: 996px;
    position: relative;
}
span.lowest-price-ribbon {
    background: url("../img/main/pyeongchang-ribbon.png") no-repeat;
    font-size: 0;
    padding: 52px;
    position: absolute;
    top: 0;
    left: 0;
}
.riverhill {
    background: url("../img/main/red-post-bg.png") no-repeat;
}
.riverhill-text-box {
    background: url("../img/main/lowest-price-black-bg.png") no-repeat;
    height: 400px;
    padding: 100px 39px 0 34px;
    font-size: 0;
}
p.riverhill-text {
    background: url("../img/main/riverhill-text.png") no-repeat;
    padding: 78.5px 153.5px ;
}
/*
h3.riverhill-h3 {
    background: url("../img/main/riverhill-green.png") no-repeat;
    padding: 14px 152.5px;
}
span.riverhill-real-text {
    background: url("../img/main/riverhill-real-text.png") no-repeat;
    padding: 18px 120px;
    line-height: 42px;
}
*/
.sale-time {
    position: absolute;
    top: 34px;
    right: 35px;
}
span.sale-time-bg {
    background: url("../img/main/riverhill-time.png") no-repeat;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 3.94px;
}
span.sale-time-dot {
    background: url("../img/main/riverhill-time-dote.png") no-repeat center;
    padding: 0 3px;
}
.sale-time .sale-time-bg:nth-child(2), 
.sale-time .sale-time-bg:nth-child(5),
.sale-time .sale-time-bg:last-child {
    margin-left: -4px;
}
.sale-time .sale-time-bg:nth-child(4),
.sale-time .sale-time-bg:nth-child(7) {
    margin-left: 3px;
}
.sale-percent {
    height: 135px;
    padding-left: 40px;
}
.percent-price {
    width: 545px;
    display: inline-block;
    padding-top: 24px;
}
span.percent65 {
    background: url("../img/main/65per.png") no-repeat;
    padding: 47px 106.5px;
    font-size: 0;
    display: inline-block;
}
span.sale-price {
    font-size: 0;
    background: url("../img/main/sale-35800.png") no-repeat;
    padding: 47.5px 136px;
    margin-left: 8px;
    display: inline-block;
}
.riverhill-buy-ticket {
    width: 373px;
    font-size: 12px;
    color: #000000;
    display: inline-block;
    background: url("../img/main/sale-per-bar.png") no-repeat;
    padding: 11px 0 0 30px;
    margin-left: -6px;
    text-align: center;
    letter-spacing: -0.5px;
    height: 135px;
    vertical-align: middle;
}
strong.buy-ticket-people {
    color: #8009ef;
}
span.now-buyer {
    display: block;
}
span.now-buyer-text {
    font-size: 0;
    background: url("../img/main/now-buyer.png") no-repeat;
    padding: 14px 71.5px;
    display: inline-block;
    text-align: center;
    margin-top: 9px;
}
span.now-buyer-num {
    font-size: 30px;
    font-weight: bold;
    color: #8009ef;
    vertical-align: middle;
}
span.now-buyer-people {
    font-size: 0;
    background: url("../img/main/now-buyer-people.png") no-repeat;
    padding: 14px 12px;
}
button.buy-ticket-btn {
    background: url("../img/main/ticket-buy-btn-all.png") no-repeat;
    border: none;
    font-size: 0;
    padding: 28px 137px;
    margin-top: 10px;
}
/*
button.buy-ticket-btn {
    background: url("../img/main/ticket-buy-btn.png") repeat-x;
    border: none;
    font-size: 0;
    line-height: 56px;
}
span.buy-ticket-btn-left {
    display: inline-block;
    background: url("../img/main/ticket-buy-btn-left.png") no-repeat left center;
    padding-left: 110px;
}
span.buy-ticket-btn-right {
    display: inline-block;
    background: url("../img/main/ticket-buy-btn-right.png") no-repeat right center;
    padding-right: 7px;
}
span.buy-ticket-btn-text {
    background: url("../img/main/ticket-buy-text.png") no-repeat;
    padding: 17px 84.5px;
}
*/
.client-tab-menu-wrap {
    margin-top: 29px;
}
ul.client-tab-list {
    border-bottom: 6px solid #272524;
    padding-left: 20px;
}
ul.client-tab-list li {
    float: left;
    width: 176px;
    line-height: 37px;
    text-align: center;
    background: #d7d7d7;
    border-radius: 5px 5px 0 0;
    font-size: 0;
}
ul.client-tab-list li a {
    padding: 18.5px 88px;
    background: url("../img/main/review-active.png") no-repeat center center;
    position: relative;
}
ul.client-tab-list li:nth-child(2) a {
    background: url("../img/main/question.png") no-repeat center center;
}
ul.client-tab-list li:last-child a {
    background: url("../img/main/ask.png") no-repeat center center;
}
ul.client-tab-list li:hover, ul.client-tab-list li.active {
    background: #272524;
}
ul.client-tab-list li a::before {
    content: "";
    background: url("../img/main/review-box-deco.png") no-repeat;
    padding: 17px 82px;
    position: absolute;
    top: 1px;
    left: 1px;
}
ul.client-tab-list li:not(:first-child) {
    margin-left: 3px;
}
.review-box {
    margin-top: 30px;
}
.review {
    padding: 21px 0 0 19px;
    min-height: 488px;
}
.c-p-box {
    padding-left: 28px;
}
.c-p-text {
    background: url("../img/main/checkpoint-box.png") no-repeat;
    height: 96px;
}
strong.c-p-title, ul.checkpoint-list, strong.purchase-title-text, ul.purchase-all-list, ol.easy-use-list, a.easy-use-btn, h3.discount-h3, span.discount-area, p.discount-p, span.discount-percent, h3.discount-table-caption, table.discount-table, span.discount-arrow, p.review-last-p, span.review-last-span, p.inquire-p, span.inquire-small-p, button.add-comment-btn, ul.left-banner-list, ul.right-banner-list {
    font-size: 0;
}
.purchase-wrap {
    background: #ffffff;
}
.purchase-box {
    background: url("../img/main/purchase-bg.png") no-repeat center center;
    padding: 10px 0 0 1px;
    min-height: 371px;
}
span.purchase-title {
    padding-left: 26px;
}
strong.purchase-title-text {
    background: url("../img/main/purchase-title.png") no-repeat;
    padding: 15px 110.5px;
}
ul.purchase-all-list {
    margin-top: 27px;
}
ul.purchase-all-list li {
    background: url("../img/main/purchase-marker.png") no-repeat left top;
    padding-left: 24px;
}
ul.purchase-all-list li dl.purchase-dl {
    background: url("../img/main/purchase-list-2.png") no-repeat;
    padding: 34px 170.5px;
    margin-top: 25px;
}
ul.purchase-all-list li:first-child dl.purchase-dl {
    background: url("../img/main/purchase-list-1.png") no-repeat right;
    padding: 39.5px 209.5px;
}
ul.purchase-all-list li:last-child {
    margin-top: 29px;
}
span.purchase-text {
    background: url("../img/main/purchase-list-3.png") no-repeat;
    padding: 34px 181.5px;
    display: block;
}
.review-notice-box {
    vertical-align: top;
    font-size: 0;
    margin: 16px 0 0 55px;
}
strong.review-notice-title {
    background: url("../img/main/notice-title.png") no-repeat;
    padding: 15px 74.5px;
}
p.review-notice-text {
    background: url("../img/main/notice-text.png") no-repeat;
    padding: 80.5px 190.5px;
    margin: 29px 0 0 1px;
}
.spring-position {
    position: absolute;
    left: 283px;
    bottom: -23px;
    z-index: 1;
}
span.spring-left, span.spring-right {
    background: url("../img/main/spring.png") no-repeat;
    padding: 15px 14px;
    display: inline-block;
}
span.spring-right {
    margin-left: 366px;
}
.easy-use {
    padding: 31px 17px 15px 5px;
    margin-top: 7px;
}
strong.easy-use-title {
    background: url("../img/main/easy-use.png") no-repeat right center;
    font-size: 0;
    padding: 15px 145px 15px 186px;
}
ol.easy-use-list {
    background: url("../img/main/easy-use-list.png") no-repeat;
    padding: 73.5px 0;
    margin-top: 39px;
}
a.easy-use-btn {
    background: url("../img/main/easy-use-btn.png") no-repeat right;
    padding: 41.5px 0;
    display: block;
    margin-top: 30px;
}
.discount {
    background: #272524;
    padding: 3px 0 49px 0;
    margin-top: 7px;
}
.discount-h3-box {
    background: url("../img/main/discount-bg.png") no-repeat;
    height: 130px;
    padding-top: 37px;
}
h3.discount-h3 {
    background: url("../img/main/discount-deco-text.png") no-repeat center center;
    padding: 36.5px 0;
}
.discount-img-box {
    padding: 0 17px;
    margin-top: 18px;
    position: relative;
}
span.discount-area {
    background: url("../img/main/discount-area.png") no-repeat;
    padding: 30px 68.5px;
    position: absolute;
    top: 0;
    right: 48px;
}
.discount-contents {
    padding: 34px 33px 0 29px;
    position: relative;
}
span.discount-percent {
    background: url("../img/main/discount-circle.png") no-repeat;
    padding: 66px;
    position: absolute;
    top: 74px;
    left: 75px;
    z-index: 1;
}
p.discount-p {
    background: url("../img/main/discount-p.png") no-repeat center;
    padding: 54px 0;
}
.discount-table-box {
    margin-top: 20px;
    background: url("../img/main/discount-p-border-bottom.png") no-repeat top;
    padding-top: 35px;
}
table.discount-table {
    width: 100%;
}
table.discount-table > thead > tr {
    line-height: 69px;
    border-bottom: 3px solid #3d3d3d;
}
table.discount-table > thead > tr > th:nth-child(2) {
    background: url("../img/main/discount-th-1.png") no-repeat center;
}
table.discount-table > thead > tr > th:nth-child(3) {
    background: url("../img/main/discount-th-2.png") no-repeat center;
}
table.discount-table > thead > tr > th:last-child {
    background: url("../img/main/discount-th-3.png") no-repeat center;
}
table.discount-table > tbody > tr {
    padding-left: 3px;
    border-bottom: 1px solid #3d3d3d;
}
table.discount-table > tbody > tr:first-child {
    height: 101px;
}
table.discount-table > tbody > tr:nth-child(2) {
    height: 104px;
}
table.discount-table > tbody > tr:last-child {
    height: 99px;
}
table.discount-table > tbody > tr > th {
    background: url("../img/main/discount-td-left.png") no-repeat right center;
    display: inline-block;
    padding: 63.5px 69.5px 35.5px 72.5px;
}
table.discount-table > tbody > tr > td {
    background: url("../img/main/discount-td.png") no-repeat center;
    position: relative;
}
span.discount-arrow {
    background: url("../img/main/discount-td-arrow.png") no-repeat;
    padding: 136px 42px;
    position: absolute;
    top: 19px;
    right: -2px;
}
table.discount-table > tbody > tr > td:nth-child(3) > span.discount-arrow {
    right: -5px;
}
table.discount-table > tbody > tr > td:last-child > span.discount-arrow {
    right: -7px;
}
.review-last {
    padding: 55px 17px 73px;
}
p.review-last-p {
    background: url("../img/main/review-last-p.png") no-repeat center;
    padding: 31.5px 0;
}
span.review-last-span {
    background: url("../img/main/review-last-span.png") no-repeat center;
    padding: 32px 0;
    display: block;
    margin: 52px 0 46px 0;
}
.review-more-dots {
    text-align: center;
    margin-top: 66px;
}

/*문의 시작*/

.inquire {
    padding: 0 20px 132px 17px;
}
p.inquire-p {
    line-height: 61px;
    background: url("../img/main/inquire-p.png") no-repeat left center;
}
span.inquire-small-p {
    background: url("../img/main/inquire-small-p.png") no-repeat right;
    padding: 6px 170.5px 6px 416.5px;
    display: inline-block;
}
.add-comment-wrap {
    padding-left: 3px;
}
.add-comment-box {
    height: 157px;
    background: #e8e8e8;
    padding: 20px;
}
textarea.add-comment-text-box {
    border: none;
    width: 770px;
    height: 100%;
    padding: 14.5px 0 0 16px;
    font-size: 12px;
    color: #474747;
}
button.add-comment-btn {
    background: url("../img/main/add-comment-btn.png") no-repeat;
    border: none;
    padding: 58.5px 70.5px;
    margin-left: -3px;
}
.comments-wrap {
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
}
span.manager-comment, .manager-gray-comment {
    background: #800aef;
    border-radius: 8px;
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    width: 170px;
    padding: 26.5px 0 30.5px 21px;
    font-weight: bold;
    letter-spacing: 1px;
    vertical-align: top;
    position: relative;
}
span.manager-speech-arrow, span.gray-comment-arrow {
    background: url("../img/main/blue-speech-bubble.png") no-repeat;
    position: absolute;
    bottom: 20px;
    right: -21px;
    display: inline-block;
    width: 21px;
    height: 8px;
}
.manager-gray-comment {
    display: inline-block;
    background: #e8e8e8;
    font-weight: lighter;
    color: #484848;
    width: 742px;
    margin-left: 36px;
    line-height: 18px;
    padding: 16.5px 15px 16.5px 20px;
    letter-spacing: 0;
}
strong.gray-comment-strong {
    color: #800aef;
    display: block;
}
.manager-gray-comment p:nth-child(2) {
    margin-top: 12px;
}
.manager-gray-comment p:nth-child(3), .manager-gray-comment p:nth-child(4) {
    margin-top: 18px;
}
button.del-x {
    background: url("../img/main/del-x.png") no-repeat center;
    padding: 6.5px;
    margin-left: 8px;
    border: none;
    vertical-align: middle;
    content: "";
}
span.time {
    display: block;
    margin-top: 12px;
    color: #a1a1a1;
}
span.gray-comment-arrow {
    background: url("../img/main/gray-sppech-bubble-right.png") no-repeat;
    left: -21px;
    top: 20px;
}
span.client-comment {
    color: #000000;
    background: #e8e8e8;
}
span.client-speech-left {
    background: url("../img/main/gray-sppech-bubble-left.png") no-repeat;
}
span.client-right-comment p:nth-child(2) {
    margin-top: 18px;
}
span.client-right-comment p:nth-child(3) button.del-x {
    margin-left: 3px;
}
span.re-btn-position {
    margin-top: 16.5px;
    display: inline-block;
}
button.re-btn {
    border: none;
    background: url("../img/main/fast-comment-btn.png") no-repeat;
    color: #ffffff;
    padding: 1.5px 6px 1.5px 15px;
}
span.re-btn-position button.re-btn:not(:first-child) {
    margin-left: 1px;
}
span.re-comment {
    margin-top: 5.5px;
    display: inline-block;
}
span.re {
    background: url("../img/main/re.png") no-repeat;
    font-size: 0;
    padding: 4.5px 13.5px;
    vertical-align: top;
}
strong.re-comment-id {
    margin-left: 7px;
}
time.re-comment-time {
    color: #a1a1a1;
    margin-left: 3px;
}
span.re-comment-p {
    margin: 4px 0 0 36px;
    display: inline-block;
}
.pages {
    text-align: center;
    margin-top: 27px;
    font-size: 12px;
    font-weight: bold;
    color: #212121;
}
a.page-before::before, a.page-after::before {
    background: url("../img/main/inquire-left-arrow.png") no-repeat center center;
    padding: 2px 10px;
    content: "";
}
a.page-after {
    background: url("../img/main/inquire-right-arrow.png") no-repeat center center;
}
.pages a {
    padding: 0 3px;
}

/*banner-left start*/

.left-banner {
    width: 122px;
    position: absolute;
    top: 51px;
    left: -131px;
    padding: 0;
}
h4.left-banner-title {
    background: url("../img/banner/customer-zone.png") no-repeat bottom center;
    font-size: 0;
    width: 120px;
    height: 41px;
    display: block;
}
ul.left-banner-list {
    padding: 0 17px 0 18px;
}
ul.left-banner-list li {
    padding: 12px 13px 9px 5px;
    width: 85px;
    height: 105px;
    border-bottom: 1px solid #e0e0e0;
}
ul.left-banner-list li:first-child {
    padding: 13px 13px 0 5px;
    height: 102px;
}
ul.left-banner-list li:first-child a {
    background: url("../img/banner/service-center.png") no-repeat right center;
    padding: 0 67px 73px 0;
}
ul.left-banner-list li:nth-child(2) a {
    background: url("../img/banner/infotown.png") no-repeat center center;
    padding: 0 67px 83px 0;
}
ul.left-banner-list li:nth-child(3) {
    padding: 18px 16px 20px 13px;
}
ul.left-banner-list li:nth-child(3) a {
    background: url("../img/banner/gpension.png") no-repeat;
    padding: 0 56px 66px 0;
}
ul.left-banner-list li:nth-child(4) {
    padding: 11px 13px 19px 5px;
}
ul.left-banner-list li:nth-child(4) a, ul.left-banner-list li:nth-child(5) a {
    background: url("../img/banner/ofarm.png") no-repeat;
    padding: 0 67px 74px 0;
}
ul.left-banner-list li:nth-child(5) {
    padding: 19px 13px 11px 5px;
}
ul.left-banner-list li:nth-child(5) a {
    background: url("../img/banner/ghousing.png") no-repeat;
}
ul.left-banner-list li:last-child {
    padding: 37px 16px 33px 11px;
}
ul.left-banner-list li:last-child a {
    background: url("../img/banner/infotown-interior.png") no-repeat;
    padding: 0 58px 35px 0;
}
.right-banner {
    width: 122px;
    position: absolute;
    top: 49px;
    right: -131px;
    padding: 0;
}
h4.right-banner-title {
    background: url("../img/banner/banner-zone.png") no-repeat bottom center;
    width: 120px;
    height: 42px;
}
ul.right-banner-list {
    padding: 35px 4px 21px;
}
ul.right-banner-list li {
    padding: 8px 0 10px;
    border-bottom: 2px solid #f0f0f0;
    width: 113px;
    height: 168px;
}
ul.right-banner-list li a {
    background: url("../img/banner/spao.png") no-repeat;
    padding: 0 113px 150px 0;
}
ul.right-banner-list li:nth-child(2) a, ul.right-banner-list li:last-child a {
    background: url("../img/banner/birack.png") no-repeat;
}
ul.right-banner-list li:nth-child(3) {
    height: 171px;
    padding: 8px 0 11px 0;
}
ul.right-banner-list li:nth-child(3) a {
    background: url("../img/banner/thanksgiving.png") no-repeat;
}
.up-down-circle {
    background: url("../img/banner/up-down.png") no-repeat center center;
    width: 86px;
    height: 86px;
    font-size: 0;
    position: absolute;
    top: 870px;
    right: -94px;
}
.up-down-position {
    position: relative;
}
a.page-up, a.page-down {
    background: url("../img/banner/up.png") no-repeat center center;
    padding: 0 67px 40px 0;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    top: 1px;
    left: 8px;
}
a.page-down {
    background: url("../img/banner/down.png") no-repeat center center;
    top: 40px;
    border-bottom: none;
}

/*footer start*/

.footer {
    border-top: 3px solid #d9d9d9;
    width: 100%;
    height: 268px;
    background: #e8e8e8;
    padding: 46px 0 123px;
}
.footer-width {
    width: 1014px;
    margin: 0 auto;
}
.footer-h2-box {
    display: inline-block;
    padding: 8px 4px 20px 0;
    border-right: 1px solid #c2c2c2;
    vertical-align: top;
}
h2.footer-h2 {
    font-size: 0;
    display: inline-block;
    padding: 35.5px 87.5px 35.5px 87.5px;
    background: url("../img/footer/footer-h2.png") no-repeat bottom;
}
.footer-text {
    width: 828px;
    vertical-align: super;
    padding-left: 19px;
    display: inline-block;
}
ul.footer-list li {
    float: left;
}
ul.footer-list li a {
    font-size: 12px;
    color: #484848;
}
ul.footer-list li:not(:last-child) {
    background: url("../img/footer/footer-list-bar.png") no-repeat right center;
    padding-right: 15px;
}
ul.footer-list li:not(:first-child) {
    padding-left: 15px;
}
dl.footer-text-list {
    display: inline-block;
    font-size: 11px;
    margin-top: 14px;
    line-height: 17px;
}
dl.footer-text-list dt, dl.footer-text-list dd {
    float: left;
    letter-spacing: 0.7px;
}
dl.footer-text-list dt {
    font-weight: bold;
}
dl.footer-text-list dd {
    letter-spacing: 1px;
}
p.footer-p {
    font-size: 11px;
    color: #939393;
    margin-top: 4px;
}
p.copyrignt {
    font-size: 10px;
    color: #939393;
    margin-top: 9px;
}

/* 반응형 start */

/*태블릿 start*/

@media all and (max-width:1023px) {
    .wrap {
        max-width: 1023px;
    }
    .header, .main, .lowest-price, .notice-box, .suggest, .percent-price, .riverhill-buy-ticket, .discount-img-box > img, .review-last > img {
        width: 100%;
    }
    .main {
        padding-left: 10px;
    }
    .notice-box, .suggest, .percent-price, .riverhill-buy-ticket {
        display: block;
    }
    .suggest {
        padding-left: 20px;
    }
    .percent-price {
        text-align: center;
    }
    .sale-percent {
        height: auto;
        padding-left: 0;
    }
    .riverhill-buy-ticket {
        background: none;
    }
    .review {
        padding: 21px 20px 30px 19px;
    }
    .c-p-text {
        background: url("../img/main/c-p-list-tablet.png") no-repeat center;
        height: 200px;
    }
    .purchase-wrap {
        text-align: center;
    }
    span.purchase-title {
        padding-left: 0;
    }
    ul.purchase-all-list li dl.purchase-dl,
    ul.purchase-all-list li:first-child dl.purchase-dl,
    span.purchase-text, p.review-notice-text {
        background: none;
        padding: 0;
        font-size: 18px;
        color: #545454;
        line-height: 22px;
    }
    dl.purchase-dl dt {
        float: left;
    }
    dl.purchase-dl dd {
        text-align: initial;
    }
    dl.purchase-dl dd strong, p.review-notice-text strong {
        color: #ff1111;
    }
    span.purchase-text {
        text-align: initial;
    }
    p.review-notice-text {
        text-align: initial;
        margin-left: 0;
        padding-left: 4.3%;
    }
    .review > .spring-position > span.spring-left,
    .review > .spring-position > span.spring-right {
        top: 22px;
    }
    .spring-position {
        left: 0;
        bottom: 0;
        position: relative;
    }
    span.spring-left, span.spring-right {
        position: absolute;
    }
    span.spring-left {
        left: 150px;
    }
    span.spring-right {
        right: 150px;
        margin-left: 0;
    }
    .easy-use > .spring-position > span.spring-left,
    .easy-use > .spring-position > span.spring-right {
        top: 8px;
    }
    .review-notice-box {
        margin: 30px 0 0 0;
    }
    ol.easy-use-list {
        background: url("../img/main/easy-use-list-tablet.png") no-repeat center;
        padding: 150px 0;
    }
    a.easy-use-btn {
        background: url("../img/main/check-btn-tablet.png") no-repeat center;
        padding: 53px 0;
    }
    span.discount-percent {
        left: 5px;
    }
    .right-banner, .left-banner {
        display: none;
    }
    .up-down-circle {
        right: 20px;
    }
    span.percent65 {
        font-size: 120px;
        background: none;
        padding: 0;
        font-weight: bold;
        text-shadow: 4px 6px 0 #dbdbdb;
    }
    span.sale-price {
        margin-left: 20px;
        background: none;
        vertical-align: bottom;
        padding: 0;
        position: relative;
    }
    span.sale-price-arrow {
        background: url("../img/main/sale-price-arrow.png") no-repeat;
        padding: 17px 88px;
        position: absolute;
        top: 13px;
        left: -30px;
    }
    span.origin-price, span.sale-price-text {
        font-size: 24px;
        color: #4f4f4f;
        font-weight: bold;
    }
    span.price-kor {
        font-size: 11px;
        font-weight: bold;
        color: #292828;
        margin-left: 5px;
    }
    span.sale-price-text {
        font-size: 72px;
        /*
        background: linear-gradient(to top, #8009ef, #af61f9);
        -webkit-background-clip: text;
        */
        color: #8009ef;
        text-shadow: 4px 6px 0 #dbdbdb;
        /*color: transparent;*/
        letter-spacing: -2.5px;
    }
    span.discount-arrow {
        background-size: 100% 100%;
        padding: 136px 30px;
        right: -30px;
    }
    table.discount-table > tbody > tr > td:nth-child(3) > span.discount-arrow,
    table.discount-table > tbody > tr > td:last-child > span.discount-arrow {
        right: -25px;
    }
    .add-comment-box {
        padding-right: 161px;
        position: relative;
    }
    p.inquire-p {
        line-height: 36px;
    }
    span.inquire-small-p {
        display: block;
        padding: 0;
        background: url("../img/main/inquire-small-p.png") no-repeat bottom left;
    }
    .add-comment-wrap {
        margin-top: 10px;
    }
    textarea.add-comment-text-box, .footer-width, .footer-text {
        width: 100%;
    }
    button.add-comment-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .comments-wrap {
        position: relative;
        padding-left: 227px;
    }
    .manager-gray-comment {
        width: 100%;
        margin-left: 0;
    }
    span.manager-comment, span.client-comment {
        position: absolute;
        top: 20px;
        left: 0;
    }
    .footer-h2-box {
        display: block;
        text-align: center;
        padding-top: 0;
        border-right: none;
    }
    .footer-text {
        padding-left: 0;
    }
    ul.footer-list {
        max-width: 731px;
        margin: 0 auto;
    }
    dl.footer-text-list, p.footer-p {
        display: none;
    }
    p.copyrignt {
        text-align: center;
    }

    
    @media all and (max-width:800px) {
        .comments-wrap {
            padding: 110px 0 0 50px;
        }
    }
    /*스마트폰 화면*/

    @media all and (max-width:767px) {
        .wrap {
            max-width: 767px;
        }
        button.smartphone-login, button.hamburger {
            display: block;
            font-size: 0;
            background: url("../img/main/smartphone-image.png") no-repeat center;
            padding: 15px 17.5px;
            border: none;
            position: absolute;
            top: 15px;
            right: 10px;
        }
        ul.header-list {
            border: 1px solid #8009ef;
            border-radius: 3px;
            top: 65px;
            right: 0;
            z-index: 1;
        }
        ul.header-list::before {
            content: "";
            background: url("../img/main/login-smartphone-icon.png") no-repeat;
            position: absolute;
            width: 15px;
            height: 18px;
            top: -14px;
            right: 20px;
        }
        ul.header-list li {
            float: none;
            line-height: 23px;
            background: #ffffff;
        }
        /*
        ul.header-list li::before, ul.header-list li::after {
            width: 1px;
            height: 1px;
            background: #8009ef;
            content: "";
            position: absolute;
            top: 0;
            left: 0px;
        }
        */
        ul.header-list li:not(:last-child) a, 
        ul.header-list li:not(:first-child) a {
            padding: 0;
        }
        .hamburger-click {
            display: none;
            opacity: 1;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: var(--app-drawer-scrim-background, rgba(0, 0, 0, 0.5));
            height: 100%;
            z-index: 2;
        }
        button.hamburger {
            display: block;
            background: url("../img/main/hamburger.png") no-repeat;
            padding: 17.5px;
            left: 10px;
        }
        .main-hamburger-click {
            position: relative;
            padding-left: 94px;
        }
        ul.main-list li:first-child dl.main-dl dt a, 
        ul.main-list li:nth-child(2) dl.main-dl dt a, 
        ul.main-list li:nth-child(3) dl.main-dl dt a, 
        ul.main-list li:nth-child(4) dl.main-dl dt a, 
        ul.main-list li:last-child dl.main-dl dt a {
            background-position: center center;
        }
        .suggest {
            position: relative;
        }
        ul.suggest-list {
            margin-left: 0;
        }
        ul.suggest-list li, ul.suggest-sns-list li {
            line-height: 25px;
        }
        ul.suggest-list > li:first-child, ul.suggest-list > li:nth-child(2) {
            padding-right: 10px;
        }
        ul.suggest-list > li:nth-child(2), ul.suggest-list > li:last-child {
            padding-left: 0;
        }
        ul.suggest-list > li:nth-child(3), ul.suggest-list > li:nth-child(4) {
            padding: 0 10px;
        }
        ul.suggest-list li:not(:last-child) {
            background: none;
        }
        .main-tab-list-position {
            position: absolute;
            top: -65px;
            left: -10px;
            background: none;
            z-index: 1;
        }
        ul.main-tab-list li, ul.main-list li {
            float: none;
        }
        .main-list-box {
            display: none;
        }
        .phone-main-list-box {
            width: 60px;
            border-top: none;
            border-left: 6px solid #8009ef;
            position: relative;
        }
        .phone-main-list-box::before {
            background: url("../img/main/main-dl-blue-arrow.png") no-repeat;
            content: "";
            width: 21px;
            height: 8px;
            position: absolute;
            top: 0;
            left: -26px;
        }
        ul.main-list li {
            width: 100%;
        }
        ul.main-list li:not(:last-child) {
            border-right: none;
            border-bottom: 1px solid #585858;
        }
        span.speech-bubble {
            top: -8px;
            right: -25px;
        }
        dl.main-dl {
            height: auto;
            padding: 15px 0 10px 4px;
        }
        dl.main-dl dd {
            display: none;
        }
        .up-down-circle, a.page-up, a.page-down {
            background: none;
            border-bottom: none;
            padding: 0;
        }
        .up-down-circle {
            width: 36px;
            height: 36px;
            background: url("../img/main/smartphone-top.png") no-repeat;
            position: fixed;
            top: 790px;
            left: initial;
            right: 15px;
        }
        ol.easy-use-list {
            background: url("../img/main/c-p-list-smartphone.png") no-repeat center;
            padding: 225px 0;
        }
        a.easy-use-btn {
            background: url("../img/main/check-btn-smartphone.png") no-repeat center;
        }
        a.smartphone-top {
            padding: 18px;
            position: absolute;
            top: 0;
            left: 0;
        }
        ul.client-tab-list li {
            width: 116px;
        }
        ul.client-tab-list li a {
            padding: 18.5px 58px;
        }
        .discount-h3-box {
            display: block;
            background: url("../img/main/smartphone-popup.png") no-repeat top;
            min-height: 873px;
        }
        .discount-img-box, .discount-img-box > img, span.discount-area, span.discount-percent, p.discount-p, .discount-table-box {
            display: none;
        }
        .add-comment-box {
            padding: 15px 65px 15px 15px;
            height: 70px;
        }
        textarea.add-comment-text-box {
            padding: 5px 0 0 5px;
        }
        button.add-comment-btn {
            background: url("../img/main/add-comment-btn-smartphone.png") no-repeat;
            padding: 20.5px 25px;
            top: 15px;
            right: 15px;
        }
        ul.footer-list {
            padding-left: 30px;
        }
    }
}